---
const { bgImage, title, description } = Astro.props;
---

<section
  class="flex min-h-[300px] flex-col items-center justify-center rounded-lg p-6 text-white shadow-md"
  style={bgImage
    ? `background-image: url('${bgImage}'); background-size: cover; background-position: center;`
    : ""}
>
  <h1 class="mb-2 text-3xl font-bold">{title}</h1>
  <p class="max-w-xl">{description}</p>
</section>
