---
import Divider from "@components/ui/Divider.astro";

const { bgImage, title, description } = Astro.props;
---

<section
  class="bg-gradient relative flex min-h-[350px] flex-col items-center justify-center rounded-lg p-6 text-white shadow-md"
  style={bgImage
    ? `background-image: url('${bgImage}'); background-size: cover; background-position: center;`
    : ""}
>
  <div class="relative z-10 text-center">
    <h1 class="mb-2 text-4xl font-bold">{title}</h1>
    <Divider />
    <p class="max-w-xl">{description}</p>
  </div>
</section>
