---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

const pages = await getCollection("pages");
console.log("Pages:", pages);
---

<Layout>
  <main id="main-content"></main>
</Layout>
